@media screen and (max-width: 1260px) {
  body .grid-container .gallery {
    display: block;
  }
}
@media screen and (max-width: 550px) {
  .features .video-wrapper .recipe-video {
    width: 460px;
    height: 300px;
  }
}
@media screen and (max-width: 450px) {
  .features .video-wrapper .recipe-video {
    width: 360px;
    height: 200px;
  }
}
