/*INDEX*/
@media screen and (max-width: 1520px) {
  body main .grid-container .gallery-text {
    line-height: 1;
  }
}
@media screen and (max-width: 1400px) {
  body main .grid-container .gallery {
    margin-bottom: 150px;
  }
}
@media screen and (max-width: 1250px) {
  body main .grid-container .gallery {
    margin-bottom: 200px;
  }
}
@media screen and (max-width: 1050px) {
  body main .grid-container .gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 50px;
    align-items: center;
  }
  body main .grid-container .gallery .gallery__img {
    min-width: 400px;
  }

  body main .grid-container .gallery-text {
    text-align: center;
  }
}
@media screen and (max-width: 450px) {
  body main .grid-container .gallery .gallery__img {
    min-width: 350px;
  }
}
@media screen and (max-width: 390px) {
  body main .grid-container .gallery .gallery__img {
    min-width: 320px;
  }
}
/*RECIPES*/
@media screen and (max-width: 880px) {
  body.recipes aside ul .li-aside {
    line-height: 2;
  }
  body.recipes aside .recipes-img-container {
    margin-right: 30px;
    margin-left: 30px;
  }
}
@media screen and (max-width: 810px) {
  body.recipes aside ul .li-aside {
    line-height: normal;
  }
  body.recipes aside .recipes-img-container {
    margin-right: 10px;
    margin-left: 10px;
  }
}
@media screen and (max-width: 750px) {
  body.recipes aside {
    display: block;
  }
  body.recipes aside .recipes-img-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
}
@media screen and (max-width: 550px) {
  .features .video-wrapper .recipe-video {
    width: 460px;
    height: 300px;
  }
}
@media screen and (max-width: 450px) {
  .features .video-wrapper .recipe-video {
    width: 360px;
    height: 200px;
  }
}
/*FOOTER*/
@media screen and (max-width: 460px) {
  footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
  }
}
/*HEADER*/
@media screen and (max-width: 990px) {
  header {
    nav {
      section {
        ul {
          ul.dropdown-menu {
            text-align: center;
          }
        }
      }
    }
  }
}
