//! LISTS
$colors: #ffffff #000000, #de463b, #3f729b, #46c1f6, #3b5999;
//! VARIABLES
$width0: 100%;
$height0: 100%;
$color0: #ffffff;
//! EXTENDS
%flxbx {
  display: flex;
  justify-content: center;
}
%config {
  display: flex;
  float: left;
  overflow: hidden;
  position: relative;
  text-align: center;
}
